* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* stylng the header container */

body {
    background-color: whitesmoke;
}


/* header {
    background: url('./images/pexels-pixabay-209841.jpg') no-repeat;
} */

.back-img {
    background: url('./images/pexels-pixabay-209841.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 768px;
    transition: ease-in 1.0s;
}


/* styling the navigation bar */


/* starting with the info navbar */

.infonav {
    padding: .5% 3% .5% 3%;
    background-color: #fbc02d;
}

.infonav p {
    float: left;
    line-height: 100%;
    font-weight: bold;
    color: black;
}

.infonav .fa-envelope {
    padding: 0 5px 0 0;
}

.infonav-links li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.infonav-links li a .signup {
    padding-right: 15px;
}

.infonav-links .icons {
    padding-right: 10px;
}

.infonav-links .twitter {
    padding-right: 30px;
}


/* style of info nav ends */


/* style of main nav begins */

.main-nav {
    color: #fbc02d;
    padding: 20px 25px 20px 40px;
    width: 100%;
    /* background-image: linear-gradient(to right, rgb(27, 27, 27, 0.4), rgb(99, 96, 81, 0.4), rgb(27, 27, 27, 0.4)); */
}

.mainav-title {
    float: left;
    font-size: 30px;
    line-height: 25px;
    color: #fbc02d;
}

.mainav-links,
.infonav-links {
    list-style-type: none;
    text-align: right;
}

.mainav-links li,
.infonav-links li {
    display: inline;
}

.mainav-links li a {
    text-decoration: none;
    color: white;
    padding: 0 15px;
    font-weight: bold;
}

.mainav-links li a:hover {
    background-color: #fbc02d;
    color: rgb(20, 20, 20);
    border-radius: 5px;
    padding: 7px 20px;
}


/* navbar styling ends */


/* styling hamburger */

.cont-btn {
    position: relative;
    bottom: 40px;
    display: none;
}

.hamburger {
    float: right;
    padding: 5px;
    margin: 0 20px;
    background-color: transparent;
    color: #fbc02d;
    text-align: center;
    height: 70px;
    width: 70px;
    border: 0.5px solid #fbc02d;
    border-radius: 5px;
}

.hamburger:hover {
    background-color: #fbc02d;
    color: black;
}

.hamburger .ham {
    font-size: 50px;
}


/* main body styles */


/* .container {
    margin-right: 10%;
    margin-left: 10%;
} */

.news,
.match-report,
.trivia,
.table {
    float: left;
    width: 43.5%;
    background-color: whitesmoke;
    text-align: center;
    margin: 20px 0;
    box-shadow: 1px 1px 8px 1px rgb(238, 238, 238);
    padding: 10px;
}

#tfnews,
#fix {
    margin: 20px 2% 20px 5%;
}

.news:hover,
.match-report:hover,
.trivia:hover,
.table:hover {
    position: relative;
    bottom: 5px;
}

.news a,
.match-report a,
.trivia a,
.table a {
    text-decoration: none;
    color: black;
}

.news h4,
.match-report h4,
.trivia h4,
.table h4 {
    text-align: center;
    padding-bottom: 5px;
}

.news img,
.match-report img,
.trivia img,
.table img {
    max-width: 100%;
    height: 300px;
}


/* css styling for content tab container */


/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: inherit;
    width: 89%;
    height: 100%;
    margin: 0 5% 0.5% 5%;
}


/* Style the buttons that are used to open the tab content */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.5s;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #fbc02d;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    height: 300px;
    width: 89%;
    margin: 0 0 3% 5%;
}

.tabcontent {
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
}


/* Go from zero to full opacity */

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Css for football-image slideshow */
* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .image-container {
    position: relative;
  }
  
  /* Hide the images by default */
  .Slides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: #fbc02d;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }





/* media queries for responsive css */


/* for medium screens */

@media (min-width:992px) and (max-width: 1199px) {
    .back-img {
        background: url('./images/pexels-1200.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        height: 800px;
        transition: ease-in 1.0s;
    }
    /* info navbar styling for medium screen */
    .infonav {
        padding: 3px 30px 5px 30px;
        background-color: #fbc02d;
    }
    /* main navbar styling for medium screen */
    .main-nav {
        color: #fbc02d;
        padding: 10px 25px 20px 30px;
        width: 100%;
        /* background-image: linear-gradient(to right, rgb(27, 27, 27, 0.4), rgb(99, 96, 81, 0.4), rgb(27, 27, 27, 0.4)); */
    }
    .mainav-title {
        float: left;
        font-size: 25px;
        line-height: 20px;
    }
    .mainav-links li a {
        text-decoration: none;
        color: white;
        padding: 0 5px;
        font-size: 15px;
        font-weight: bold;
    }
}


/* for small screens */

@media (min-width:768px) and (max-width: 991px) {
    .back-img {
        background: url('./images/pexels-small.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        height: 800px;
        transition: ease-in 1.0s;
    }
    /* styling responsive navbar button */
    .cont-btn {
        display: block;
    }
    /* styling the main and info navbar for small screens */
    /* styling the info navbar */
    .infonav {
        padding: 3% 6% 3% 6%;
        background-color: #fbc02d;
    }
    .infonav p {
        float: left;
        line-height: 100%;
        font-weight: bold;
        font-size: 25px;
    }
    .infonav-links li a {
        text-decoration: none;
        font-weight: bold;
        font-size: 30px;
        color: black;
    }
    /* styling the main nav */
    .mainav-links {
        display: none;
    }
    .main-nav {
        color: #fbc02d;
        padding: 8% 5% 8% 6%;
        width: 100%;
        /* background-image: linear-gradient(to right, rgb(27, 27, 27, 0.6), rgb(99, 96, 81, 0.6), rgb(27, 27, 27, 0.6)); */
    }
    .mainav-title {
        float: left;
        font-size: 60px;
        line-height: 0px;
    }
    .mainav-links li a {
        text-decoration: none;
        color: white;
        padding: 0 5px;
        font-size: 15px;
        font-weight: bold;
    }
    .mainav-links li {
        display: block;
    }
    /* body styling for small screens */
    .news,
    .match-report {
        width: 100%;
        background-color: whitesmoke;
        text-align: center;
        margin: 20px 5%;
        box-shadow: 1px 1px 8px 1px rgb(145, 144, 144);
        padding: 10px;
    }
}


/* for very small screens */

@media (max-width:767px) {
    .back-img {
        background: url('./images/pexels-smallest.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        height: 800px;
        transition: ease-in 1.0s;
    }
    /* styling responsive navbar button */
    .cont-btn {
        display: block;
    }
    /* styling the main nav */
    .mainav-links {
        display: none;
    }
    .main-nav {
        color: #fbc02d;
        padding: 8% 5% 8% 6%;
        width: 100%;
        /* background-image: linear-gradient(to right, rgb(27, 27, 27, 0.6), rgb(99, 96, 81, 0.6), rgb(27, 27, 27, 0.6)); */
    }
    .mainav-title {
        float: left;
        font-size: 60px;
        line-height: 0px;
    }
    .mainav-links li a {
        text-decoration: none;
        color: white;
        padding: 0 5px;
        font-size: 15px;
        font-weight: bold;
    }
    .mainav-links li {
        display: block;
    }
    .news,
    .match-report {
        width: 100%;
        background-color: whitesmoke;
        text-align: center;
        margin: 5px 5%;
        box-shadow: 1px 1px 8px 1px rgb(145, 144, 144);
        padding: 10px;
    }
}