* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* stylng the header container */

header {
    background: rgb(0, 0, 0, 0.8);
    background: url('./images/pexels-pixabay-209841.jpg');
    background-size: cover;
    background-position: center;
    height: 768px;
}


/* styling the navigation bar */


/* starting with the info navbar */

.infonav {
    padding: 3px 40px 5px 40px;
    background-color: #fbc02d;
}

.infonav p {
    float: left;
    line-height: 20px;
}

.infonav .fa-envelope {
    padding: 0 5px 0 0;
}

.infonav-links li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.infonav-links li a .signup {
    padding-right: 15px;
}

.infonav-links .icons {
    padding-right: 10px;
}

.infonav-links .twitter {
    padding-right: 30px;
}


/* style of info nav ends */


/* style of main nav begins */

.main-nav {
    color: #fbc02d;
    padding: 20px 25px 20px 40px;
    width: 100%;
}

.mainav-title {
    float: left;
    font-size: 30px;
    line-height: 25px;
}

.mainav-links,
.infonav-links {
    list-style-type: none;
    text-align: right;
}

.mainav-links li,
.infonav-links li {
    display: inline;
}

.mainav-links li a {
    text-decoration: none;
    color: white;
    padding: 0 15px;
    font-weight: bold;
}

.mainav-links li a:hover {
    background-color: #fbc02d;
    color: rgb(20, 20, 20);
    border-radius: 5px;
    padding: 7px 20px;
}


/* navbar styling ends */


/* styling hamburger */

.hamburger {
    float: right;
    padding: 10px;
    border: 1px solid #fbc02d;
    border-radius: 5px;
    text-align: center;
    display: none;
}

.hamburger .ham {
    font-size: 25px;
}


/* main body styles */

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 10%;
    margin-left: 10%;
}

.news,
.match-report {
    float: left;
    width: 40%;
    background-color: whitesmoke;
    text-align: center;
    margin: 20px 5%;
    box-shadow: 1px 1px 8px 1px rgb(145, 144, 144);
    padding: 10px;
}

.news:hover,
.match-report:hover {
    position: relative;
    bottom: 5px;
}

.news a,
.match-report a {
    text-decoration: none;
    color: black;
}

.news h4,
.match-report h4 {
    text-align: center;
    padding-bottom: 5px;
}

.news img,
.match-report img {
    max-width: 100%;
    height: 500px;
}


/* media queries for responsive css */

@media (min-width:992px) and (max-width: 1199px) {
    header {
        background: rgb(0, 0, 0, 0.8);
        background: url('./images/pexels-smallest.jpg');
        background-size: cover;
        background-position: center;
        height: 768px;
    }
}

@media (min-width:768px) and (max-width: 991px) {
    header {
        background: rgb(0, 0, 0, 0.8);
        background: url('./images/pexels-smallest.jpg') no-repeat;
        background-size: cover;
        background-position: center;
    }
    .hamburger {
        display: block;
    }
    .mainav-links {
        display: none;
    }
}

@media (max-width:768px) {
    .hamburger {
        display: block;
    }
    .mainav-links {
        display: none;
    }
}