* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h2 {
    text-align: center;
    margin: 5% 0 5% 0;
}

.container-child {
    background-color: gray;
    border: 1px solid black;
}

.caption {
    float: right;
    border: 1px solid black;
    margin-bottom: 10px;
    width: 25%;
    text-align: center;
    padding: 2px;
}

.chicken {
    background-color: #f3bfd0;
}

.beef {
    background-color: #a52a2a;
}

.sushi {
    background-color: #bbbb68;
}

p {
    clear: right;
    padding: 10px;
}

.row {
    width: 100%;
}

@media (min-width: 992px) {
    .window,
    .window-1,
    .window-2 {
        float: left;
    }
    .window {
        width: 30%;
        margin: 0 2.5% 0 2.5%;
    }
    .window-1 {
        width: 30%;
    }
    .window-2 {
        width: 30%;
        margin: 0 2.5% 0 2.5%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .tablet,
    .tablet-1,
    .tablet-2 {
        float: left;
    }
    .tablet {
        width: 47%;
        margin: 2%;
    }
    .tablet-1 {
        width: 47%;
        margin: 2% 0 2% 0;
    }
    .tablet-2 {
        width: 96%;
        margin: 0 2% 0 2%;
    }
}

@media (max-width: 767px) {
    .mobile {
        width: 90%;
        margin: 5%;
    }
}